<div class="turno-container">
  <!-- Selección de Pacientes (admin) -->

  <div *ngIf="estadoActual === 'seleccionarPaciente'" class="con">
    <h2 class="section-title">Seleccionar Paciente</h2>
    <div class="card-grid">
      <div *ngFor="let paciente of pacientes" class="card-item" appCardEstilo (click)="onPacienteSeleccionado(paciente)">
        <h3>{{ paciente.nombre }} {{ paciente.apellido }}</h3>
        <img src="{{paciente.imagen_perfil}}">
        <p>{{ paciente.email }}</p>
      </div>
    </div>
  </div>
  
  <!-- Selección de Especialidades -->
  <div *ngIf="estadoActual === 'seleccionarEspecialidad'" class="con">
    <button class="back-btn" *ngIf="perfil === 'admin'" (click)="estadoActual = 'seleccionarPaciente'">
      ← Volver a pacientes
    </button>
    <h2 class="section-title">Seleccionar Especialidad</h2>
    <div class="card-grid">
      <div *ngFor="let especialidad of especialidades" appCardEstilo class="card-item" (click)="onEspecialidadSeleccionada(especialidad.nombre)">
        <img 
          *ngIf="especialidad.imagen" 
          [src]="especialidad.imagen" 
          alt="Imagen de {{ especialidad.nombre }}" 
          class="perfil-img-mini" 
          [appBordeImagen]="'#4193eb'"
        />
       <img 
          *ngIf="especialidad.imagen === null" 
          [src]="'public/medico.png'" 
          alt="Imagen de {{ especialidad.nombre }}" 
          class="perfil-img-mini" 
          [appBordeImagen]="'#4193eb'"
        />
        <h3>{{ especialidad.nombre }}</h3>
      </div>
    </div>
  </div>
  
  <!-- Selección de Especialistas -->
 <div *ngIf="estadoActual === 'seleccionarEspecialista'" class="con">
  <button class="back-btn" (click)="estadoActual = 'seleccionarEspecialidad'">
    ← Volver a especialidades
  </button>
  <h2 class="section-title">Seleccionar Especialista</h2>
  <div class="card-grid">
    <div appCardEstilo *ngFor="let esp of especialistas" class="card-item" (click)="turno.uid_especialista = esp.uid!; onEspecialistaSeleccionado()">
      
      <img 
        *ngIf="esp.imagen_perfil" 
        [src]="esp.imagen_perfil" 
        alt="Imagen de {{ esp.nombre }}" 
        class="perfil-img-mini" 
        [appBordeImagen]="'#4193eb'"
      />
      
      <h3>{{ esp.nombre }} {{ esp.apellido }}</h3>
      <p>{{ esp.email }}</p>
    </div>
  </div>
</div>


<!-- Selección de Fecha -->
<div *ngIf="turno.uid_especialista && turno.especialidad && estadoActual === 'seleccionarFecha'" class="con">
  <button class="back-btn" (click)="estadoActual = 'seleccionarEspecialista'">
    ← Volver a especialistas
  </button>
  <h2 class="section-title">Seleccionar Fecha</h2>

  <div class="horarios-grid">
    <button 
      *ngFor="let fecha of fechasDisponibles" 
      class="hora-btn"
      (click)="onFechaSeleccionada(fecha.split('|')[0])">
      {{ fecha.split('|')[1] }}
    </button>
  </div>
</div>


<!-- Mostrar horarios disponibles -->
<div *ngIf="horariosDisponibles.length > 0 && estadoActual === 'seleccionarHorario'"  class="con">
    <button class="back-btn" (click)="estadoActual = 'seleccionarFecha'">
    ← Volver a Fechas
  </button>
  <h2 class="section-title">Seleccionar Horario</h2>
  <div class="horarios-grid">
    <button 
      *ngFor="let horario of horariosDisponibles" 
      class="hora-btn"
      (click)="seleccionarHorario(horario)">
      {{ horario }}
    </button>
  </div>
</div>

</div>
