<div class="login-container text-white d-flex flex-column align-items-center justify-content-center"> 
    <div class="login-box p-4">
        <h2 class="mb-4 text-center text-celeste">Iniciar Sesión</h2>
        <form (ngSubmit)="onSubmit()" class="login-form d-flex flex-column gap-3 w-100" #loginForm="ngForm">
            <input
            type="email"
            name="email"
            [(ngModel)]="email"
            required
            class="form-control login-input"
            placeholder="Correo electrónico"
            />
            <input
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            class="form-control login-input"
            placeholder="Contraseña"
            />
            <button class="btn btn-login w-100" [disabled]="!loginForm.form.valid">
            Entrar
            </button>
        </form>
        <a>¿No tienes cuenta? <a routerLink="/registro">Registrate aca</a></a>
        <div class="quick-logins mt-4 d-flex flex-column gap-2">
            <p class="mb-1 text-center">Usuarios de prueba:</p>
            <div class="d-flex flex-wrap gap-2 justify-content-center">
            <button class="btn btn-sm btn-outline-light" (click)="fillUser('admin@clinica.com', 'admin123')">Admin</button>
            <button class="btn btn-sm btn-outline-light" (click)="fillUser('doctor@clinica.com', 'doctor123')">Doctor</button>
            <button class="btn btn-sm btn-outline-light" (click)="fillUser('paciente@clinica.com', 'paciente123')">Paciente</button>
            </div>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-home" routerLink="/home">Volver al Home</button>
        </div>
    </div>
</div>
