<app-spinner *ngIf="cargando"></app-spinner>
<div class="login-container text-white d-flex flex-column align-items-center justify-content-center"> 
    <div class="login-box p-4">
        <h2 class="mb-4 text-center text-celeste">Iniciar Sesión</h2>
        <form (ngSubmit)="onSubmit()" class="login-form d-flex flex-column gap-3 w-100" #loginForm="ngForm">
            <input
            type="email"
            name="email"
            [(ngModel)]="email"
            required
            class="form-control login-input"
            placeholder="Correo electrónico"
            appValidacionInput
            />
            <input
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            class="form-control login-input"
            placeholder="Contraseña"
            appValidacionInput
            />
            <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
             {{ errorMessage }}
            </div>

            <button class="btn btn-login w-100" [disabled]="!loginForm.form.valid">
            Entrar
            </button>
        </form>
        <a>¿No tienes cuenta? <a routerLink="/registro">Registrate aca</a></a>
        <!-- FABs flotantes por grupo -->
        <div class="fab-container">
        <div *ngFor="let grupo of gruposUsuarios" class="fab-group">
            <!-- Botón principal -->
            <div class="fab" (click)="toggleGrupo(grupo)" [title]="grupo.tipo">
            <i class="bi" [ngClass]="grupo.icono"></i>
            </div>

            <!-- Avatares desplegados -->
            <div *ngIf="grupo.expanded" class="fab-subgroup">
            <div
                *ngFor="let user of grupo.usuarios"
                class="fab-image"
                (click)="fillUser(user.email, user.password)"
                [title]="user.email"
            >
                <img [src]="user.imagen_perfil || 'assets/default-avatar.png'" alt="Perfil" />
            </div>
            </div>
        </div>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-home" routerLink="/home">Volver al Home</button>
        </div>
    </div>
</div>
